/* base resources */
@import "base-resources/normalize";
@import "base-resources/_fonts";
@import "base-resources/_colors";
@import "base-resources/_specification";

/* sticky footer begin */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
}

/*-------header---------*/
header {
  background-color: $BgColor;
}
.header {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70px;
  height: 70px;
}
.menu {
  background-color: $Red;
  min-height: 50px;
  position: relative;
}
.nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  &_items {
    display: flex;
    padding: 25px 0;
  }
  &_item {
    margin: 0 10px;
    border-bottom: solid 2px transparent;
    transition: all 0.3s ease;
    &:hover {
      border-bottom: solid 2px $Link_hover;
    }
  }
  &_link {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 19px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover {
      color: $Link_hover;
      transition: all 0.3s ease;
    }
  }
}
#burg {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  & a span {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: flex;
    margin-top: 5px;
  }
}
.mobile_tap {
  margin-top: 2%;
  display: none;
}
#mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  & li {
    margin: 3% 0;
  }
}
.breadcrumbs {
  margin-top: 10px;
  width: 100%;
  & p {
    font-size: 1.5rem;
    color: $Black;
    &:last-child {
      display: none;
    }
  }
  &_nav {
    display: flex;
    justify-content: flex-start;
    & li {
      margin: 0 10px;
      border-bottom: solid 2px transparent;
      transition: all 0.3s ease;
      &:hover {
        border-bottom: solid 2px red;
        transition: all 0.3s ease;
      }
    }
    & li:first-child {
      margin-left: 0;
    }
    & li:last-child {
      margin-right: 0;
    }
    & a {
      font-size: 1.5rem;
      color: $Link;
      transition: all 0.3s ease;
      &:hover {
        color: $Link_hover;
        transition: all 0.3s ease;
      }
    }
  }
}

/*--------main------*/

.filter {
  margin-top: 15px;
  border: solid 2px transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  background-color: #fff;
  &_title {
    margin-left: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: $Link;
    border-bottom: solid 2px transparent;
    transition: all 0.3s ease;
    &:hover {
      color: $Link_hover;
      border-bottom: solid 2px $Red;
    }
  }
}
.axle {
  width: 100%;
  padding: 5px 0 5px 5px;
  border-top: solid 1px $Black;
  & p {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $Black;
    cursor: pointer;
  }
  &_type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 5px 0 0 0;

    & label {
      cursor: pointer;
      margin-left: 20%;
      transition: all 0.3s ease;
      &:hover {
        color: $Link;
      }
    }
    & input {
      margin-right: 40%;
      cursor: pointer;
    }
  }
}
.manufacturer {
  @extend .axle;
  &_type {
    @extend .axle_type;
  }
}
.main {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.main_title {
  padding-left: 10px;
  font-size: 22px;
  line-height: 26px;
  color: $Black;
  width: 100%;
}
.selector {
  width: 20%;
}
.items {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.card {
  cursor: pointer;
  position: relative;
  margin: 20px 0 0 0;
  background-color: #fff;
  border: solid 2px $Red;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 10px;
  &:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: solid 2px $Link_hover;
    box-shadow: 5px 5px 10px rgba(86, 204, 242, 0.5);
    transition: all 0.3s ease;
  }
  &:hover .card_title {
    color: $Black;
  }
  &:hover .card_information {
    display: flex;
    transition: all 0.3s ease;
  }
  &_img {
    width: calc(100% - 20px);
    margin: 10px 0 20px;
  }
  &_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
  &_title {
    margin-bottom: 10px;
    width: 90%;
    font-size: 2rem;
    color: $Red;
    font-weight: bold;
  }
  &_information {
    width: calc(100% + 4px);
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    border: solid 2px $Link_hover;
    border-top: none;
    transition: all 0.3s ease;
    z-index: 5;
    box-shadow: 5px 5px 10px rgba(86, 204, 242, 0.5);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &_btn {
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    font-size: 1.8rem;
    background-color: $Link;
    color: $White;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    border-radius: 10px;
    &:hover {
      background-color: $Link_hover;
      transition: all 0.3s ease;
    }
  }
  &_price p {
    color: $Red;
    font-weight: bold;
  }
}
.information_item {
  width: 90%;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  color: $Black;
  transition: all 0.3s ease;
  &:hover {
    background-color: $BgColor;
  }
  & p:first-child {
    text-transform: uppercase;
  }
}

.AdditionalInformation {
  padding: 0 10px;
  & p {
    color: $Black;
    font-size: 2rem;
    line-height: 22px;
    margin-bottom: 15px;
    text-indent: 25px;
    text-align: justify;
  }
}

/*---------footer-------------*/
footer {
  background-color: $BgColor;
  margin-top: 15px;
  padding: 10px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  font-size: 1.6rem;
  color: $Black;
  padding-bottom: 30px;
}
.footer_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_title {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  & img {
    width: 50px;
    height: 50px;
  }
  & p {
    font-size: 3rem;
    color: $Black;
    margin-left: 15px;
  }
}
.footer_contact {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
  }
}
.footer_txt {
  width: 65%;
  text-align: justify;
}
.icon {
  margin-right: 10px;
}
#icon {
  stroke: $Red;
  transition: all 0.3s ease;
}
.social a:hover #icon {
  stroke: $Link_hover;
}
.number a {
  color: $Black;
  transition: all 0.3s ease;
  &:hover {
    color: $Link;
  }
}

/*-------ADAPTIVE------*/
@media screen and (max-width: 1024px) {
  .information_item p {
    font-size: 1.2rem;
  }
  .card_title {
    font-size: 1.8rem;
  }
  .card_btn {
    font-size: 1.4rem;
    width: 160px;
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  #burg {
    display: inherit;
  }
  .mobile_tap {
    display: inherit;
  }
  .card {
    width: 40%;
  }
  .items {
    justify-content: space-around;
  }
  .address p {
    font-size: 1.2rem;
  }
  .axle_type {
    width: 100%;
    justify-content: space-between;
    & label {
      margin-left: 0;
    }
    & input {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 570px) {
  .card {
    width: 100%;
  }
  .AdditionalInformation p {
    font-size: 1.5rem;
  }
  .footer_txt {
    font-size: 1.2rem;
  }
  .filter {
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .number a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .number svg {
    // display: none;
    width: 10px;
    height: 13px;
  }
}
