$montserrat: "Montserrat", sans-serif;

@font-face {
  src: url("../../fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}
@font-face {
  src: url("../../fonts/fontello.eot");
  src: url("../../fonts/fontello.svg");
  src: url("../../fonts/fontello.ttf");
  src: url("../../fonts/fontello.woff");
  src: url("../../fonts/fontello.woff2");
  font-family: "Fontello";
}
