html {
  font-size: 10px;
  line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  min-height: 1px;
}

body {
  overflow-x: hidden;
  //   overflow-y: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.hide {
  display: none;
}

.show {
  display: flex !important;
}
